<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:ital,wght@0,200..900;1,700">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/main.css">
    <title>Inicio</title>
</head>

<body>
    <header>
        <h1 class="logo-app"><img src="img/logo.png" width="38px" height="35px" alt="logo"> CalWallet</h1>
        <div class="navigation">
            <ul class="secciones">
                <li><a href="/landing.html" class="header-link">Inicio</a></li>
                <li><a href="/nosotros.html" class="header-link">Sobre Nosotros</a></li>
                <li><a href="/contacto.html" class="header-link">Contacto</a></li>
                <li><a href="login.html" class="header-link-2">Ingresa</a></li>

            </ul>
    </header>
    
    <main>
        <br>
        <br>
        <br>
        <br>
        <section class="form-register">
            <h4>Formulario Contacto</h4>
            <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombre">
            <input class="controls" type="email" name="correo" id="correo" placeholder="Correo">
            <input class="controls" type="text" name="numero" id="numero" placeholder="Numero">
            <input class="controls" type="text" name="mensajes" id="mensajes" placeholder="Mensaje">
            <input class="botons" type="submit" value="Enviar">
          </section>
        
    </main>

</body>
</html>