<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:ital,wght@0,200..900;1,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="styles/main.css">
    <title>Inicio</title>
</head>

<body>
    <header>
        <h1 class="logo-app"><img src="img/logo.png" width="38px" height="35px" alt="logo"> CalWallet</h1>
        <div class="navigation">
            <ul class="secciones">
                <li><a href="/landing.html" class="header-link">Inicio</a></li>
                <li><a href="#" class="header-link">Sobre Nosotros</a></li>
                <li><a href="#" class="header-link">Contacto</a></li>
            </ul>
    </header>

    <main>
        <div class="c-main-config">
                <div class="p-config-izq">
                    <ul class="config-list">
                        <br>
                        <br>
                        <li><i class="material-icons" style="color: white;">&#xe8b8;</i><a href="/config.html" class="config-link"> Configuracion</a></li>
                        <br>
                        <br>
                        <li><i class="material-icons" style="color: white;">&#xe02f;</i><a href="/facturas.html" class="config-link"> Registros</a></li>
                        <br>
                        <br>
                        <li><i class="material-icons" style="color: white;">&#xe02e;</i><a href="/tcea.html" class="config-link"> TCEA</a></li>
                        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></br>

                        <li><i class="material-icons" style="color: white;">&#xe879;</i><a href="#" class="config-link"> Cerrar Sesion</a></li>
                        </ul>
                </div>

                <div class="p-config-der">
                    <div class="b-datos">
                        <a href="/facturas.html"> <button type="submit" id="btn-facturas">Facturas</button></a>
                        <a href="/letras.html"> <button type="submit" id="btn-letras">Letras</button></a>
                        <a href="/recibos.html"> <button type="submit" id="btn-recibo">Recibos por honorario</button></a>
                    </div>
                    <div class="c-factura">
                        <h9 class="h9-l">Factura</h9>
                        <br>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label id="l-senior" for="senior">Senor(es)</label>
                                    <br>
                                    <input type="text" id="i-senior">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label id="l-cargos" for="cargos">Otros cargos</label>
                                    <br>
                                    <input type="text" id="i-cargos" placeholder="  S/.">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label id="l-tributos" for="tributos">Otros tributos</label>
                                    <br>
                                    <input type="text" id="i-tributos" placeholder="  S/.">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label id="l-direccion" for="direccion">Direccion</label>
                                    <br>
                                    <input type="text" id="i-direccion">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label id="l-total" for="total">IMPORTE TOTAL</label>
                                    <br>
                                    <label id="l-moneda"><input type="text" id="i-total" placeholder="  S/."></label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label id="l-fecha" for="date">Fecha</label>
                                    <br>
                                    <input type="date" id="i-fecha">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label id="l-ruc" for="ruc">RUC</label>
                                    <br>
                                    <input type="text" id="i-ruc" >
                                </div>
                            </div>
                            <div class="col-2">
                                <button type="submit" id="btn-guardar">Guardar factura</button>
                            </div>
                        </div>
                        <br>
                        <div class="help1">
                            <div class="help2">
                                <label id="l-subtotal" for="subtotal">Subtotal</label>
                                    <br>
                                <input type="text" id="i-subtotal" placeholder="  S/.">
                            </div>
                            <div class="help3">
                                <label id="l-igv" for="igv">I.G.V. 18 %</label>
                                    <br>
                                <input type="text" id="i-igv" placeholder="  S/.">
                            </div>
                        </div>
                        <br>
                        <div class="help1">
                            <div class="help2">
                                <label id="l-subtotal" for="subtotal">ISC</label>
                                    <br>
                                <input type="text" id="i-isc" placeholder="  S/.">
                            </div>
                            <div class="help3">
                                <label id="l-anticipos" for="anticipos">Anticipos</label>
                                    <br>
                                <input type="text" id="i-anticipos" placeholder="  S/.">
                            </div>
                        </div>
                    </div>
         
            </div>
        </div>                
    </main>
</body>