<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Inter:ital,wght@0,200..900;1,700'>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <title>Inicio</title>
</head>

<body>
    <header>
        <h1 class="logo-app"><img src="img/logo.png" width="38px" height="35px" alt="logo"> CalWallet</h1>
        <div class="navigation">
            <ul class="secciones">
                <li><a th:href="@{/home}" class="header-link">Inicio</a></li>
                <li><a th:href="@{/home/nosotros}" class="header-link">Sobre Nosotros</a></li>
                <li><a th:href="@{/home/contacto}" class="header-link">Contacto</a></li>
                <li><a th:href="@{/login}" class="header-link-2">Ingresa</a></li>
            </ul>
        </div>
    </header>
    
    <main>
    <div class="main-landing">
        <div class="landing-img">
        </div>
        <div class="d-land">
                <h2 class="h2-l">Lleva las finanzas de tu negocio al siguiente nivel.</h2>
                <br>
                <h3 class="h3-l">Enfócate en lo que más te importa.</h3>
                <h3 class="h3-l">Nosotros hacemos el resto.</h3>
        </div>

    </div>
</main>

</body>
</html>