<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Inter:ital,wght@0,200..900;1,700">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" th:href="@{/styles/main.css}">
<title>Listas</title>
</head>

<body>
    <header>
        <h1 class="logo-app"><img src="https://i.postimg.cc/QCnYtG2b/logo.png" width="38px" height="35px" alt="logo"> CalWallet</h1>
        <div class="navigation">
            <ul class="secciones">
                <li><a href="#" class="header-link">Inicio</a></li>
                <li><a href="#" class="header-link">Sobre Nosotros</a></li>
                <li><a href="#" class="header-link">Contacto</a></li>
            </ul>
        </div>
    </header>

    <main>
        <div class="c-main-config">
            
            <div class="p-config-izq">
                <h1 style="color: white;" th:text="${UsernameHola}"></h1>
				<ul class="config-list">
					<br> <br>
					<li><i class="material-icons" style="color: white;">&#xe8d3;</i><a
						th:href="@{/inicio}" class="config-link"> Inicio</a></li>
					<br> <br>
					<li><i class="material-icons" style="color: white;">&#xe03b;</i><a
						th:href="@{/inicio/listarFacturas}" class="config-link"> Listas</a></li>
					<br> <br>
					<li><i class="material-icons" style="color: white;">&#xe02f;</i><a
						th:href="@{/inicio/registrarFactura}" class="config-link"> Registros</a></li>
					<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
					<li><i class="material-icons" style="color: white;">&#xe8b8;</i><a 
						th:href="@{/inicio/configuracion}" class="config-link"> Configuración</a></li>
					<br> <br>
					<li><i class="material-icons" style="color: white;">&#xe879;</i><a 
						th:href="@{/inicio/cerrarSesion}" class="config-link"> Cerrar Sesión</a></li>
				</ul>
            </div>

            <div class="p-config-der">
                <div class="b-datos">
                    <a th:href="@{/inicio/listarFacturas}" id="btn-facturas">Facturas</a> 
					<a th:href="@{/inicio/listarLetras}" id="btn-letras">Letras</a>
					<a th:href="@{/inicio/listarRecibos}" id="btn-recibo">Recibo por honorarios</a> 
                </div>
                <div class="c-letras">
                    <h5 class="h9-l">Tu lista de recibos por honorarios</h5>
                    <h5 class="h9-l" th:if="${TipoMoneda == 'Soles'}">En Soles</h5>
					<h5 class="h9-l" th:if="${TipoMoneda != 'Soles'}">En Dolares</h5>
                    <br>
                    <a th:href="@{/inicio/registrarRecibo}" id="btn-lista">Registrar</a>
                    <table id="viviendas">
						<thead>
							<tr>
								<th>Total</th>
								<th>Retencion</th>
								<th>Total Neto</th>
								<th>Periodo</th>
								<th>Al descuento</th>
								<th>TCEA</th>
								<th>Operacion</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="lis: ${listaRecibos}">
								<td th:text="${lis.Total}"></td>
								<td th:text="${lis.Retencion}"></td>
								<td th:text="${lis.Total_neto}"></td>
								<td th:text="${lis.Periodo}"></td>
								<td th:text="${lis.AlDescuento}"></td>
								<td th:text="${lis.RTCEA} + '%'"></td>
								<td><a th:href="@{/inicio/eliminarRecibo?id=}+${lis.idReciboPorHonorario}">Eliminar</a></td>
							</tr>
						</tbody>
					</table>
                </div>
            </div>
        </div>                
    </main>
</body>
</html>