<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href='https://fonts.googleapis.com/css?family=Inter:ital,wght@0,200..900;1,700'>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" th:href="@{/styles/main.css}">
<title>Inicio</title>
</head>

<body>
	<header>
		<h1 class="logo-app"><img src="https://i.postimg.cc/QCnYtG2b/logo.png" width="38px" height="35px" alt="logo"> CalWallet</h1>
		<div class="navigation">
			<ul class="secciones">
				<li><a href="#" class="header-link">Inicio</a></li>
				<li><a href="#" class="header-link">Sobre Nosotros</a></li>
				<li><a href="#" class="header-link">Contacto</a></li>
			</ul>
		</div>
	</header>

	<main>
		<div class="c-main-config">
			<div class="p-config-izq">
				<h1 style="color: white;" th:text="${UsernameHola}"></h1>
				<ul class="config-list">
					<br> <br>
					<li><i class="material-icons" style="color: white;">&#xe8d3;</i><a
						th:href="@{/inicio}" class="config-link"> Inicio</a></li>
					<br> <br>
					<li><i class="material-icons" style="color: white;">&#xe03b;</i><a
						th:href="@{/inicio/listarFacturas}" class="config-link"> Listas</a></li>
					<br> <br>
					<li><i class="material-icons" style="color: white;">&#xe02f;</i><a
						th:href="@{/inicio/registrarFactura}" class="config-link"> Registros</a></li>
					<br> <br>
					<li><i class="material-icons" style="color: white;">&#xe02e;</i><a
						th:href="@{/inicio/TCEA}" class="config-link"> TCEA</a></li>
					<br> <br> <br> <br> <br> <br> <br>
					<li><i class="material-icons" style="color: white;">&#xe8b8;</i><a 
						th:href="@{/inicio/configuracion}" class="config-link"> Configuración</a></li>
					<br> <br>
					<li><i class="material-icons" style="color: white;">&#xe879;</i><a 
						th:href="@{/inicio/cerrarSesion}" class="config-link"> Cerrar Sesión</a></li>
				</ul>
			</div>

			<div class="p-config-der">
				<div class="d-reg">
					<h1>Calcular la TCEA</h1>
					<br> <br>
					<div class="help1">
						<div class="help2">
							<label id="l-tea" for="tea">TEA</label> <br> <input
								type="text" id="i-tea"> <br> <br>
						</div>
						<div class="help3">
							<label id="l-seguro" for="seguro">Seguro de desgravamen</label> <br>
							<input type="text" id="i-seguro"> <br> <br>
						</div>
					</div>
					<div class="help1">
						<div class="help2">
							<label id="l-ncuotas" for="ncuotas">No. Cuotas</label> <br>
							<input type="text" id="i-ncuotas" placeholder="  S/."> <br>
							<br>
						</div>
						<div class="help3">
							<label id="l-descuento" for="descuento">Dsctos.</label> <br>
							<input type="text" id="i-descuento" placeholder="  S/.">
							<br> <br>

						</div>
					</div>

					<label id="l-cargos" for="cargos">Otros cargos</label> <br> <input
						type="text" id="i-cargos" placeholder="  S/."> <br> <br>

					<button type="submit" id="btn-registro">Calcular</button>

				</div>
			</div>
		</div>
	</main>
</body>